//-------------------------------------------------------------------------------
  @name: About Vision Mission
  -------------------------------------------------------------------------------//

='\n\n'
//.about-vm
.about-vm
  .container
    .about-vm__inner
      .about-vm__img
        .about-vm__img__item
          ='\n'
          img.about-vm__img__el(src=data.img1 alt='image 1')/
          ='\n'
          img.about-vm__img__el(src=data.img2 alt='image 2')/
          ='\n'
        .about-vm__img__item
          ='\n'
          img.about-vm__img__el(src=data.img3 alt='image 3')/
          ='\n'
      .about-vm__text
        .about-vm__row
          h3.about-vm__title= data.vision.title
          p.about-vm__desc= data.vision.description
        .about-vm__row
          h3.about-vm__title= data.mission.title
          ul
            each val in data.mission.list
              li= val


