//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

='\n\n'
//.header
.header(class=header ? `header--${header}` : '')
  .container
    .header__inner
      .header__logo
        ='\n'
        a.header__logo__link(href='/')
          ='\n'
          img.header__logo__img(src='assets/img/logo/aracord.svg', alt='Aracord')/
          ='\n'
          img.header__logo__img.header__logo__img--w(src='assets/img/logo/aracord-w.svg', alt='Aracord')/
          ='\n'
        ='\n'
      ='\n'
      //.header__wrapper
      .header__wrapper
        ='\n'
        //.header__nav
        ul.header__nav
          -
            menu = [
              {
                to: 'about-us.html',
                text: 'Tentang Kami',
                page: 'about-us'
              },
              {
                to: '#',
                text: 'Bisnis Kami',
                page: 'our-business',
                submenu: [
                  {
                    to: 'main-solutions.html',
                    text: 'Solusi Utama',
                    subPage: 'main-solutions'
                  },
                  {
                    to: 'logistics-solutions.html',
                    text: 'Solusi Logistik',
                    subPage: 'logistics-solutions'
                  },
                  {
                    to: 'electricity-solutions.html',
                    text: 'Solusi Listrik',
                    subPage: 'electricity-solutions'
                  },
                  {
                    to: 'mining-solutions.html',
                    text: 'Solusi Pertambangan',
                    subPage: 'mining-solutions'
                  },
                ]
              },
              {
                to: '#.html',
                text: 'Hubungan Investor',
                page: 'investor-relations',
                submenu: [
                  {
                    to: 'annual-report.html',
                    text: 'Laporan Tahunan',
                    subPage: 'annual-report'
                  },
                  {
                    to: 'financial-report.html',
                    text: 'Laporan Keuangan',
                    subPage: 'financial-report'
                  },
                  {
                    to: 'sustainability-report.html',
                    text: 'Laporan Keberlanjutan',
                    subPage: 'sustainability-report'
                  },
                  {
                    to: 'information-disclosure.html',
                    text: 'Pengungkapan Informasi',
                    subPage: 'information-disclosure'
                  },
                ]
              },
              {
                to: 'news-events.html',
                text: 'Berita & Acara',
                page: 'news-events'
              },
              {
                to: 'contact-us.html',
                text: 'Hubungi Kami',
                page: 'contact-us'
              }
            ];
          each val in menu
            ='\n'
            //.header__nav__item
            li(class=val.page == page ? 'header__nav__item header__nav__item--active' : val.submenu ? 'header__nav__item header__nav__item--has-sub' : 'header__nav__item')
              ='\n'
              a.header__nav__link(href=val.to)= val.text
                if val.submenu
                  i.header__nav__icon(class='fi fi-caret-down')
              if val.submenu
                div.header__subnav
                  ul.header__subnav__list
                    each subVal in val.submenu
                      ='\n'
                      //.header__subnav__item
                      li(class=subVal.subPage == subPage ? 'header__subnav__item header__subnav__item--active' : 'header__subnav__item')
                        ='\n'
                        a.header__subnav__link(href=subVal.to)= subVal.text
                        ='\n'
        ='\n\n'
        -
          language = ['id', 'en'];
        //.header__lang
        ul.header__lang
          each val, idx in language
            li(class=idx == 0 ? 'header__lang__item header__lang__item--active' : 'header__lang__item')
              ='\n'
              a.header__lang__link(href=`#${val}`)
                ='\n'
                img.header__lang__img(src=`assets/img/icon/${val}.svg`, alt=val)/
                ='\n'
                span.header__lang__text= val
                ='\n'
      ='\n'
      //.header__burger-menu
      .header__burger-menu
        ='\n'
        button.header__burger-menu__btn.js-toggle-menu
          ='\n'
          span.header__burger-menu__bar
          ='\n'
          span.header__burger-menu__bar
          ='\n'
          span.header__burger-menu__bar
          ='\n'
        ='\n'
='\n'
