//-------------------------------------------------------------------------------
  @name: Short Service
  -------------------------------------------------------------------------------//

='\n\n'
//.short-service
.short-service.js-short-service-acc
  .container
    .short-service__inner
      .short-service__text
        h2.short-service__title= data.title
        ul.short-service__acc
          each val, idx in data.list
            li.short-service__acc__item
              .short-service__acc__head
                h6.short-service__acc__title(data-image=val.img data-title=val.title)
                  span= val.title
                  i.fi.fi-caret-down
              .short-service__acc__body
                .short-service__acc__desc
                  | !{val.content}
                .short-service__acc__btn
                  ='\n'
                  a.btn-text(href=val.btn.to)= val.btn.text
                  ='\n'
                .short-service__acc__img
                  ='\n'
                  img.short-service__acc__img__el(src=val.img, alt=val.title)/
      .short-service__img
        ='\n'
        img.short-service__img__el(src=data.img, alt=data.title)/

